<!--Search-name area-->
<div class="container mt-3">
    <div>
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Enter github username..."
                            style="text-align:center" name="username">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--End of Search-name area-->
